* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: 0 auto;
    
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    
}
button {
    width: 80px;
}
footer{
    
    display: flex;
    flex-direction: row;
    align-items:normal;
    justify-content: justify;

}